<?xml version="1.0" encoding="UTF-8"?>
<root>	
	<host name="TrackedHost">
		<dir name="D:\">
			<trackedfile>trackedfile.file</trackedfile>
		</dir>
	</host>
	<host name="TrackedHost2">
		<dir name="D:\">
			<trackedfile>trackedfile.file</trackedfile>
			<trackedfile>trackedfile2.file</trackedfile>
		</dir>
		<dir name="C:\">
			<trackedfile>trackedfile.file</trackedfile>
		</dir>
	</host>
	<echofile file="C:\info.txt"/>
</root>